authentik:
  secret_key: ""
  postgresql:
    password: ""

server:
  ingress:
    ingressClassName: nginx
    enabled: true
    hosts:
      - auth.terri.cc
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/enable-cors: "true"
      nginx.ingress.kubernetes.io/configuration-snippet: |
        more_set_headers "Content-Security-Policy: frame-ancestors 'self' https://terri.cc https://*.terri.cc";
    tls:
      - hosts:
          - auth.terri.cc
        secretName: auth-terri-cc-tls

postgresql:
  enabled: true
  auth:
    password: ""

redis:
  enabled: true
